# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/cache_nemglo
/backend/__pycache__

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# custom
dist/
python/
backend/nemglo_src/__pycache__/
cache_nemed/
public/backend/nemglo_src/__pycache__
backend\nemglo_src\__pycache__\