beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
datetime
et-xmlfile
feather-format
flask
flask-cors
idna
importlib-metadata
itsdangerous
jinja2
joblib
markupsafe
mip
nemed
nemosis
nempy
numpy
openpyxl
pandas
pathlib
pyarrow
pycparser
python-dateutil
pytz
pyyaml
requests
setuptools
six
soupsieve
urllib3
werkzeug
xlrd
xmltodict
zipp
zope-interface
gunicorn